body{
    background-color: goldenrod;
    color: blueviolet;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
} 
.nav ul a{
    text-decoration: none;
    background-color: greenyellow;
    padding: 20px;
    display: inline-block;
    list-style-type: none;
}
.nav li a:hover{
    background-color: blue;
    color: chartreuse;
}
image{
    height: 70%;
    width: 70%;
    float: right;

}
.images{
    height: 80%;
    width: 100%;
    float: left;

}